@{
    ViewBag.Title = "Home Page";
}

<div >
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div></div>
<div></div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           
    </div>*@
    <div class="col-md-12">
        <p>
            <h2>Trayectoria histórica</h2>
            <h2>Trayectoria histórica</h2>
            <img src="~/img/farmacia.jfif" alt=" " /> <br />El 15 de marzo de 1987 nace la cadena de Farmacias MediCenter, con la adquisición de la primera sucursal
            ubicada en la Colonia Santa Anita de San Salvador, un negocio familiar con visiones de ser una gran distribuidora
            de medicamentos en todo el territorio salvadoreño.
            Ya para los 90' contaba con una clientela leal que depositaba en
            ella la confianza del despacho de productos.
            Esta a su vez ya era reconocida en la zona por
            aquellos profesionales de la salud quienes confiaban en el servicio que brindaba esta farmacia
            y la importante labor que la misma desarrollaba.
            Con el paso de los años se fue expadiendo por todo El Salvador, buscando siempre dar la comodidad y facilidad de compra
            enfocados en que el servicio al cliente es lo primero. siguiendo ese pendamiento, este año 2020 nos enorgullecemos
            de llevar nuestro servicio más allá, brindando está plataforma en la que se puede hacer la compra
            de medicamentos en linea, llevando a nuestros clientes la facilidad para adquirir sus medicamentos.
        </p>
        <p>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Misión &raquo;</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Visión &raquo;</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Valores &raquo;</a>
        </p>
     
    </div>
    @*<div class="col-md-4">
        
    </div>*@
</div>